body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #1F2937;
    color: white;
    width: 100vh;
}

.container {
    padding: 75px 50px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

span {
    color: #4ADF86;
}

h1 {
    font-weight: 800;
    margin-bottom: 0px;
}

#generate-container {
    display: flex;
    align-items: center;
}

#generate-btn {
    background-color: #10B981;
    color: white;
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

p {
    margin-left: 20px;
    margin-right: 10px;
}

#password-length {
    width: 100px;
    margin-top: 0;
}

h2 {
    margin-top: 5px;
    font-weight: 100;
    font-size: 1.15em;
    color: #D5D4D8;
}

input {
    background-color: #273549;
    border: none;
    padding: 7px 30px;
    width: 200px;
    margin: 20px 15px 0 0;
    border-radius: 5px;
    text-align: center;
    color: #55F991;
    box-sizing: border-box;
}

hr {
    border-color: #42556d;
}